@import "_setting.scss";

body {
  margin: 0;
  font-family: "Nunito", sans-serif;
  font-size: 14px;
  line-height: 1.3em;
}

.trello-container {
  height: 100vh;
  display: grid;
  grid-template-rows: 40px 50px 1fr;
  background-color: $board-bg-color;
}
